
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(179, 250, 226);
  height: 90px;
  padding: 12px 24px;
}

.Logo {
  font-size: 24px;
  font-weight: bold;
}

button {
  background-color: white;
  border-radius: 4px;
  color: black;
  padding: 8px 16px;
  margin-left: 16px;
}
